.link {
    &.linkflair-trialawards { background-image: $url-thawards; }
    &.linkflair-dndespair   { background-image: $url-thdndespair; }
    &.linkflair-dailylife   { background-image: $url-thdailylife; }
    &.linkflair-insertcoin  { background-image: $url-thinsertcoin; }
    &.linkflair-monoescape  { background-image: $url-thmonoescape; }
    &.linkflair-monologue   { background-image: $url-thmonologue; }
    &.linkflair-sidetrial   { background-image: $url-thsidetrial; }
    &.linkflair-survivor    { background-image: $url-thsurvivor; }
    &.linkflair-trial       { background-image: $url-thtrial; }
    &.linkflair-whodunnit   { background-image: $url-thwhodunnit; }
    &.linkflair-writingtips { background-image: $url-thwriting; }

    [lang=ft] &:not(.linkflair-trial),
    [lang=fs] &:not(.linkflair-sidetrial),
    [lang=fw] &:not(.linkflair-whodunnit),
    [lang=fm] &:not(.linkflair-monologue),
    [lang=fz] &:not(.linkflair-monoescape) {
        display: none;
    }
}
