.flair {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-right: 4px;

	/* Defaults to a blue blob */
	width: 19px;
	height: 28px;

	font-size: 0 !important;

	color: transparent;
	background: $url-flairs no-repeat -30px -39px;
	border: 0 none;

	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	&::after {
		content: attr(title);

		position: absolute;
		bottom: 22px;
		left: 100%;

		overflow: hidden;
		width: 60px;
		max-height: 16px;

		line-height: 7px;
		font-size: 8px;
		font-family: $font-legiblesmall;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;

		color: #000;

		.titlebox & {
			left: auto;
			right: 100%;
		}
	}

	.content > .linklisting > .thing.comment &::after {
		content: unset;
	}

	.side & {
		vertical-align: middle;
	}
}

@mixin flair($name, $w, $h, $bgx, $bgy) {
	.flair-#{$name} {
		width: $w + 0px;
		height: $h + 0px;
		background-position: ($bgx * -1px) ($bgy * -1px);
	}
}

@include flair("udg-female", 20, 30, 132, 154);
@include flair("udg-male", 19, 28, 30, 39);
@include flair("akane", 24, 30, 90, 395);
@include flair("alterego", 23, 29, 128, 308);
@include flair("aoi", 17, 35, 0, 76);
@include flair("byakuya", 22, 29, 30, 0);
@include flair("celes", 33, 32, 34, 478);
@include flair("chiaki", 25, 28, 125, 0);
@include flair("chihiro", 23, 29, 128, 461);
@include flair("chisa-sf", 21, 31, 130, 113);
@include flair("chisa-sd", 21, 31, 97, 316);
@include flair("aiko", 19, 30, 34, 398);
@include flair("asukasei", 19, 28, 101, 40);
@include flair("daiki", 19, 28, 101, 78);
@include flair("karen", 19, 28, 64, 160);
@include flair("kiriko", 23, 30, 92, 0);
@include flair("kotomi", 25, 27, 27, 77);
@include flair("ryouta", 17, 27, 64, 123);
@include flair("shouji", 20, 28, 0, 0);
@include flair("soushun", 23, 28, 64, 316);
@include flair("sousuke", 20, 32, 62, 0);
@include flair("suzuko", 19, 29, 62, 84);
@include flair("tarou", 18, 28, 135, 651);
@include flair("tomohiko", 25, 35, 27, 114);
@include flair("tsubasa", 21, 28, 130, 75);
@include flair("daisaku", 23, 31, 103, 520);
@include flair("daiya", 17, 32, 27, 197);
@include flair("fuyuhiko", 17, 28, 0, 199);
@include flair("genocider", 24, 28, 127, 385);
@include flair("gozu", 23, 34, 101, 679);
@include flair("grandbois", 27, 27, 33, 561);
@include flair("gundham", 17, 32, 0, 276);
@include flair("haiji", 29, 28, 93, 200);
@include flair("hajime", 19, 32, 35, 756);
@include flair("hifumi", 25, 28, 128, 270);
@include flair("hiroko", 22, 28, 0, 360);
@include flair("hiyoko", 27, 29, 64, 679);
@include flair("ibuki", 25, 29, 93, 238);
@include flair("ibuki-r63", 21, 29, 95, 277);
@include flair("imposter", 19, 28, 132, 194);
@include flair("imposter-ryouta", 21, 28, 132, 232);
@include flair("imposter-byakuya", 22, 28, 70, 561);
@include flair("izuru", 25, 30, 0, 756);
@include flair("jatarou", 19, 28, 64, 641);
@include flair("jin", 17, 30, 63, 395);
@include flair("junko", 37, 30, 81, 435);
@include flair("juuzou-sd", 20, 28, 0, 38);
@include flair("juuzou-sf", 23, 28, 0, 639);
@include flair("kamishiro", 15, 29, 0, 160);
@include flair("kanon", 24, 31, 59, 237);
@include flair("kazuichi", 19, 28, 35, 798);
@include flair("kazuo", 17, 32, 0, 318);
@include flair("kenishiro", 27, 32, 91, 116);
@include flair("kiyondo", 17, 29, 0, 121);
@include flair("kiyotaka", 17, 29, 0, 237);
@include flair("koichi", 21, 28, 64, 278);
@include flair("komaru", 19, 32, 35, 836);
@include flair("kotoko", 37, 35, 81, 475);
@include flair("kurokuma", 23, 29, 0, 477);
@include flair("kyouko", 24, 28, 128, 423);
@include flair("kyousuke-sd", 17, 28, 0, 439);
@include flair("kyousuke-sf", 17, 28, 136, 500);
@include flair("leon", 21, 32, 0, 597);
@include flair("madarai", 28, 29, 54, 198);
@include flair("mahiru", 17, 27, 136, 577);
@include flair("makoto", 21, 32, 33, 636);
@include flair("masaru", 25, 33, 0, 796);
@include flair("mechamaru", 23, 32, 64, 798);
@include flair("miaya", 21, 28, 128, 347);
@include flair("mikan", 27, 28, 27, 159);
@include flair("miku", 33, 30, 91, 599);
@include flair("minimaru", 23, 29, 0, 717);
@include flair("monaka", 21, 29, 33, 678);
@include flair("mondo", 17, 30, 97, 761);
@include flair("mkid-female", 19, 29, 32, 359);
@include flair("mkid-male", 19, 29, 97, 801);
@include flair("monomachine", 24, 31, 0, 398);
@include flair("monomi", 24, 31, 0, 516);
@include flair("mukuro", 19, 28, 97, 840);
@include flair("mukuro-junko", 37, 30, 34, 438);
@include flair("nagisa", 21, 29, 33, 717);
@include flair("nagito", 27, 33, 27, 278);
@include flair("natsumi", 15, 27, 134, 689);
@include flair("natsumi-hajime", 59, 31, 34, 520);
@include flair("nekomaru", 23, 30, 0, 557);
@include flair("peko", 27, 28, 27, 321);
@include flair("reserve-female", 17, 27, 135, 614);
@include flair("reserve-male", 21, 28, 96, 357);
@include flair("ruruka", 17, 29, 136, 538);
@include flair("ryouko", 23, 28, 64, 840);
@include flair("ryouta", 21, 28, 31, 598);
@include flair("sakura", 32, 30, 93, 639);
@include flair("santa", 17, 32, 64, 599);
@include flair("sayaka", 21, 28, 129, 726);
@include flair("seiko", 26, 28, 126, 802);
@include flair("shirokuma", 23, 27, 130, 38);
@include flair("sonia", 23, 30, 0, 677);
@include flair("sounosuke", 22, 29, 27, 239);
@include flair("taichi", 25, 29, 0, 839);
@include flair("teruteru", 22, 31, 64, 354);
@include flair("betateru", 23, 28, 126, 840);
@include flair("touko", 24, 28, 102, 561);
@include flair("usami", 25, 28, 126, 764);
@include flair("yasuhiro", 29, 32, 62, 42);
@include flair("yasuhiro-bteam", 29, 32, 93, 158);
@include flair("yasuke", 23, 31, 64, 718);
@include flair("yui", 23, 29, 64, 759);
@include flair("yuuta", 22, 28, 97, 723);
