.flair {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-right: 4px;

	/* Defaults to a blue blob */
	width: 19px;
	height: 28px;

	font-size: 0 !important;

	color: transparent;
	background: $url-flairs no-repeat -32px -0px;
	border: 0 none;
	border-radius: 0 !important;

	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	&::after {
		content: attr(title);

		position: absolute;
		bottom: 22px;
		left: 100%;

		overflow: hidden;
		width: 60px;
		max-height: 16px;

		line-height: 7px;
		font-size: 8px;
		font-family: $font-legiblesmall;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		white-space: normal;

		color: #000;

		.titlebox & {
			left: auto;
			right: 100%;
		}
	}

	.content > .linklisting > .thing.comment &::after {
		content: unset;
	}

	.side & {
		vertical-align: middle;
	}
}

@mixin flair($name, $w, $h, $bgx, $bgy) {
	.flair-#{$name} {
		@if ($w != 19) {
			width: $w + 0px;
		}
		@if ($h != 28) {
			height: $h + 0px;
		}
		background-position: ($bgx * -1px) ($bgy * -1px);
	}
}

@include flair('adult-female', 20, 30, 135, 538);
@include flair('adult-male', 19, 28, 0, 0);
@include flair('akane-despair', 24, 30, 204, 0);
@include flair('akane-kibougamine', 24, 30, 92, 170);
@include flair('akane', 24, 30, 201, 480);
@include flair('aloysius', 21, 32, 156, 78);
@include flair('alterego-dr2', 23, 29, 27, 113);
@include flair('alterego-dr-mondo', 17, 30, 238, 0);
@include flair('alterego-dr', 23, 29, 123, 124);
@include flair('aoi-mirai', 22, 32, 201, 362);
@include flair('aoi-miraisport', 22, 32, 126, 703);
@include flair('aoi-swimsuit', 17, 35, 106, 452);
@include flair('aoi', 17, 35, 132, 578);
@include flair('archive', 24, 28, 201, 442);
@include flair('ayaka', 23, 28, 27, 38);
@include flair('byakuya', 22, 29, 235, 680);
@include flair('celes-castle', 17, 31, 95, 742);
@include flair('celes-gym', 17, 28, 0, 38);
@include flair('celes', 33, 32, 126, 203);
@include flair('chiaki-kibougamine', 25, 28, 126, 245);
@include flair('chiaki', 25, 28, 96, 413);
@include flair('chihiro', 23, 29, 233, 281);
@include flair('chisa-despair', 21, 31, 156, 120);
@include flair('chisa-kibougamine', 21, 31, 92, 129);
@include flair('chisa-mirai', 21, 31, 235, 515);
@include flair('council-aiko', 19, 30, 32, 302);
@include flair('council-asukasei', 19, 28, 187, 82);
@include flair('council-daiki', 19, 28, 60, 113);
@include flair('council-karen', 19, 28, 0, 419);
@include flair('council-kiriko', 23, 30, 229, 120);
@include flair('council-kotomi', 25, 27, 60, 725);
@include flair('council-ryouta', 17, 27, 60, 39);
@include flair('council-shouji', 20, 28, 61, 299);
@include flair('council-soushun', 23, 28, 58, 188);
@include flair('council-sousuke', 20, 32, 159, 597);
@include flair('council-suzuko', 19, 29, 63, 337);
@include flair('council-tarou', 18, 28, 35, 915);
@include flair('council-tomohiko', 25, 35, 163, 859);
@include flair('council-tsubasa', 21, 28, 29, 0);
@include flair('daisaku', 23, 31, 117, 42);
@include flair('daiya', 17, 32, 130, 0);
@include flair('deva-champ', 38, 30, 218, 80);
@include flair('deva-jump', 33, 27, 63, 451);
@include flair('deva-magaz-despair', 22, 27, 59, 226);
@include flair('deva-magaz', 22, 27, 27, 227);
@include flair('deva-sund', 22, 28, 157, 40);
@include flair('extinguisher', 12, 31, 189, 600);
@include flair('fuhito', 15, 37, 158, 678);
@include flair('fujiko', 31, 29, 63, 530);
@include flair('fuyuhiko-despair', 19, 29, 0, 380);
@include flair('fuyuhiko-kibougamine', 17, 28, 0, 76);
@include flair('fuyuhiko-patch', 17, 28, 0, 188);
@include flair('fuyuhiko-yakuza', 24, 30, 98, 579);
@include flair('fuyuhiko', 17, 28, 239, 241);
@include flair('genocider-udg', 28, 32, 96, 825);
@include flair('genocider', 24, 28, 29, 452);
@include flair('gozu-mirai', 23, 34, 158, 725);
@include flair('grandbois', 27, 27, 227, 758);
@include flair('gundham-despair', 24, 36, 89, 83);
@include flair('gundham-kibougamine', 19, 28, 0, 457);
@include flair('gundham', 17, 32, 173, 161);
@include flair('haiji', 29, 28, 161, 245);
@include flair('hajime-kamukura', 26, 30, 191, 719);
@include flair('hajime-reserve', 19, 32, 189, 40);
@include flair('hajime-saiyan', 19, 32, 169, 203);
@include flair('hajime', 19, 32, 134, 824);
@include flair('hajimetiger', 59, 31, 29, 569);
@include flair('hifumi', 25, 28, 27, 801);
@include flair('hiroko', 22, 28, 0, 265);
@include flair('hiyoko-despair', 24, 29, 230, 833);
@include flair('hiyoko-grown', 21, 29, 60, 0);
@include flair('hiyoko-kibougamine', 24, 31, 233, 160);
@include flair('hiyoko', 27, 29, 227, 719);
@include flair('ibuki-despair', 25, 29, 91, 210);
@include flair('ibuki-kibougamine', 25, 29, 126, 326);
@include flair('ibuki-r63', 21, 29, 27, 188);
@include flair('ibuki', 25, 29, 187, 641);
@include flair('imposter-byakuya', 22, 28, 31, 342);
@include flair('imposter-despair', 22, 28, 233, 358);
@include flair('imposter-kyousuke', 19, 28, 197, 520);
@include flair('imposter-ryouta', 21, 28, 0, 342);
@include flair('imposter', 19, 28, 0, 534);
@include flair('izuru', 25, 30, 123, 745);
@include flair('jatarou', 19, 28, 0, 572);
@include flair('jin', 17, 30, 240, 201);
@include flair('junko', 37, 30, 157, 0);
@include flair('justicerobo', 20, 31, 87, 42);
@include flair('juuzo-kibougamine', 20, 28, 64, 876);
@include flair('juuzo-mirai', 23, 28, 233, 320);
@include flair('kameko', 30, 28, 200, 201);
@include flair('kamishiro', 15, 29, 183, 680);
@include flair('kanon', 24, 31, 92, 249);
@include flair('kazuichi-despair', 21, 32, 92, 331);
@include flair('kazuichi-kibougamine', 22, 28, 29, 531);
@include flair('kazuichi', 19, 28, 31, 610);
@include flair('kazuo', 17, 32, 130, 623);
@include flair('kenishiro', 27, 32, 192, 558);
@include flair('kirigiri-young', 23, 28, 201, 404);
@include flair('kirumi', 20, 29, 157, 639);
@include flair('kiyondo', 17, 29, 0, 226);
@include flair('kiyotaka', 17, 29, 165, 558);
@include flair('koichi', 21, 28, 170, 402);
@include flair('komaru-secondary', 19, 29, 0, 495);
@include flair('komaru', 19, 32, 199, 949);
@include flair('kotoko', 37, 35, 123, 365);
@include flair('kurokuma', 24, 31, 92, 290);
@include flair('kyouko-mirai', 17, 28, 32, 264);
@include flair('kyouko', 24, 28, 60, 762);
@include flair('kyousuke-edgy', 19, 28, 198, 798);
@include flair('kyousuke-kibougamine', 17, 28, 234, 396);
@include flair('kyousuke-mirai', 17, 28, 0, 648);
@include flair('leon-baseball', 21, 32, 104, 497);
@include flair('leon-baseballcut', 17, 28, 130, 665);
@include flair('leon-zombie', 21, 32, 166, 516);
@include flair('leon', 21, 32, 128, 907);
@include flair('madarai', 28, 29, 123, 785);
@include flair('mahiru-despair', 17, 27, 0, 114);
@include flair('mahiru-kibougamine', 17, 27, 0, 151);
@include flair('mahiru', 17, 27, 65, 151);
@include flair('makoto-mirai', 19, 31, 97, 701);
@include flair('makoto', 21, 32, 99, 949);
@include flair('masaru', 25, 33, 126, 283);
@include flair('mechamaru', 23, 32, 97, 659);
@include flair('miaya', 21, 28, 170, 440);
@include flair('mikan-despair', 27, 30, 161, 323);
@include flair('mikan-kibougamine', 27, 28, 60, 610);
@include flair('mikan', 27, 28, 60, 687);
@include flair('miku-junko', 37, 30, 218, 40);
@include flair('miku', 33, 30, 222, 640);
@include flair('minimaru', 23, 29, 63, 376);
@include flair('monaka-dr3', 29, 32, 91, 0);
@include flair('monaka-neet', 22, 32, 96, 907);
@include flair('monaka', 21, 29, 0, 303);
@include flair('mondo-butter', 17, 30, 96, 373);
@include flair('mondo-diamond', 17, 30, 104, 539);
@include flair('mondo-pancake', 21, 28, 170, 478);
@include flair('mondo', 17, 30, 238, 599);
@include flair('monodam', 23, 26, 59, 263);
@include flair('monofunny', 23, 26, 63, 415);
@include flair('monokid', 23, 26, 198, 875);
@include flair('monokuma-bikini', 24, 26, 29, 380);
@include flair('monokuma-siren', 23, 27, 27, 76);
@include flair('monokuma', 24, 26, 29, 416);
@include flair('monokumakid-female', 19, 29, 193, 759);
@include flair('monokumakid-male', 19, 29, 132, 867);
@include flair('monomachine', 24, 31, 29, 490);
@include flair('monomi', 24, 31, 228, 950);
@include flair('monosuke', 23, 26, 0, 879);
@include flair('monotaro', 28, 26, 27, 152);
@include flair('mukuro-junko', 37, 30, 126, 163);
@include flair('mukuro', 19, 28, 37, 953);
@include flair('naegi-dad', 17, 30, 211, 600);
@include flair('naegi-mom', 17, 28, 208, 680);
@include flair('nagisa', 21, 29, 170, 363);
@include flair('nagito-despair', 27, 33, 133, 452);
@include flair('nagito-kibougamine', 27, 33, 229, 556);
@include flair('nagito', 27, 33, 159, 906);
@include flair('natsumi-hajime', 59, 31, 130, 949);
@include flair('natsumi', 15, 27, 60, 76);
@include flair('nekomaru-despair', 23, 30, 200, 281);
@include flair('nekomaru-kibougamine', 23, 30, 97, 619);
@include flair('nekomaru', 23, 30, 27, 686);
@include flair('peko-despair', 27, 30, 95, 867);
@include flair('peko-kibougamine', 27, 28, 227, 795);
@include flair('peko', 27, 28, 0, 953);
@include flair('reserve-female', 17, 27, 0, 724);
@include flair('reserve-male', 21, 28, 0, 610);
@include flair('ruruka-mirai', 17, 29, 0, 761);
@include flair('ryouko', 23, 28, 27, 726);
@include flair('ryouma', 21, 33, 135, 495);
@include flair('ryouta-mirai', 21, 28, 64, 838);
@include flair('sakura', 32, 30, 187, 120);
@include flair('santa', 17, 32, 96, 783);
@include flair('sayaka-r63', 21, 28, 33, 839);
@include flair('sayaka', 21, 28, 33, 877);
@include flair('seiko-berserk', 25, 30, 231, 910);
@include flair('seiko-mirai', 26, 28, 231, 872);
@include flair('shirokuma', 23, 27, 27, 764);
@include flair('sonia-despair', 25, 34, 163, 815);
@include flair('sonia-kibougamine', 22, 28, 27, 648);
@include flair('sonia-princess', 20, 31, 200, 321);
@include flair('sonia', 23, 30, 0, 839);
@include flair('sounosuke-mirai', 22, 29, 198, 836);
@include flair('taichi', 25, 29, 60, 648);
@include flair('takaaki', 17, 28, 0, 686);
@include flair('takemichi', 18, 30, 235, 434);
@include flair('teruteru-beta', 23, 28, 196, 911);
@include flair('teruteru-despair', 22, 36, 161, 769);
@include flair('teruteru-fedora', 23, 31, 123, 83);
@include flair('teruteru', 22, 31, 235, 474);
@include flair('touko-udg', 29, 30, 161, 283);
@include flair('touko', 24, 28, 62, 800);
@include flair('unknown', 17, 28, 0, 800);
@include flair('usami', 25, 28, 0, 915);
@include flair('yasuhiro-bteam', 29, 32, 200, 239);
@include flair('yasuhiro-mirai', 31, 32, 63, 488);
@include flair('yasuhiro', 29, 32, 131, 410);
@include flair('yasuke', 23, 31, 200, 160);
@include flair('yui', 23, 29, 66, 952);
@include flair('yuuta', 22, 28, 64, 914);