$gradient-watercolor1: linear-gradient(to right top, rgba(#fc0, 0.2), transparent, rgba(green, 0.3));
$gradient-watercolor2: linear-gradient(to right bottom, rgba(pink, 0.3), transparent, rgba(pink, 0.5));
$gradient-bright: linear-gradient(to right, $color-header-bg, mix($color-header-bg, #000, 60%));

#header {
    background: $color-header-bg $url-logo-drtransparent center/cover;
    background-image: $url-logo-drtransparent, $gradient-bright;
}

#header-bottom-left {
    .pagename {
        bottom: -13px;

        // Align the internal title in /about/stylesheet and others
        line-height: 65px;
    }

    .pagename a {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;

        width: 396px;
        height: 65px;

        text-indent: -300px;

        background: $url-logo no-repeat center top/#{contain};

        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }

    .tabmenu {
        margin: 0 0 0 420px;
    }
}