a[href="#miraikikan"] {
    display: block;
    width: 200px;
    padding-top: 80px;
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
    color: #000;
    background-image: url(%%miraikikan%%);
    background-size: 200px;
    background-repeat: no-repeat;
}