a.rl-scanned,
a[href="#countdown"] {
    pointer-events: none;
    color: inherit;
    cursor: text;
}

.side {
    $side-over: (-1 * ($sidebar-cellpadding + 1px));

    &::after {
        content: 'Using theme /r/reddit_shelf';
        display: block;
        text-align: right;
    }

    blockquote {
        margin: 0;
    }

    blockquote ol + ul {
        position: absolute;
        top: (25px + 10px);
        right: 10px;
        z-index: 100;

        margin: 0;
        padding: 0;
        // height: 32px;

        li {
            display: block;
            background: $url-iconsoffsite right top #{'/'} 48px no-repeat;

            &:nth-child(1) {
                background-position: right 0;
            }

            &:nth-child(2) {
                background-position: right -48px;
            }
        }

        a {
            display: block;
            padding-right: 48px;

            line-height: 48px;
            text-align: right;
            white-space: nowrap;

            color: #fff;

            opacity: 0;
            transform: scale(0.9);
            transform-origin: right center;

            transition: transform 0.2s cubic-bezier(0.18,0.89,0.32,1.28);
            transition-property: transform, opacity;
        }

        li:hover a {
            opacity: 1;
            transform: scale(1);
        }
    }

    blockquote + ul {
        position: relative;
        z-index: 1000;

        margin: -6px $side-over $side-over !important;
        padding: 0;

        background: $color-body-bg;
        list-style: none;

        a {
            $local-color: mix($color-header-bg, $color-body-bg-contrast);
            $local-bgcolor: mix($local-color, $color-body-bg, 50%);

            display: block;
            margin-bottom: 3px;

            line-height: 28px;
            font-size: 16px;
            text-align: center;

            color: $local-color;
            background: $local-bgcolor;
            border: 1px solid $color-border;
            border-radius: 2px;
        }
    }

    h2 + p + ul {
        display: flex;
        flex-direction: row;
        margin: 0 -2px;
        padding: 0;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;

        li {
            flex: 1 1 auto;
            display: inline-block;
            width: 40%;
            margin: 0 2px;
        }

        a {
            display: block;
            height: 40px;

            background: $url-browsers center#{'/'}48px no-repeat;
            border: 1px solid;
            border-radius: 2px;

            &[href*=chrome] {
                color: #d44f52;
                background-color: mix(#fff, #d44f52, 90%);
                background-position: center -58px;
            }

            &[href*=mozilla] {
                color: #fc8c2e;
                background-color: mix(#fff, #fc8c2e, 90%);
                background-position: center -108px;
            }

            &[href*=github] {
                color: #000;
                background-color: mix(#fff, #000, 90%);
                background-position: center -4px;
            }
        }
    }

    a[title^=roll] {
        display: block;
        padding: 4px $sidebar-cellpadding;

        line-height: 1.2;
        font-weight: bold;

        color: $color-bluegray-800;
        border: 1px solid;
        border-radius: 2px;

        &:hover {
            background: lighten($color-bluegray-800, 20%);
        }

        &::before {
            float: right;
            margin-left: 10px;
            font-size: 0.9em;
        }
    }

    a[title$=archived]::after {
        content: '[Archived]';
    }

    a[title^=rolldiscord]::before {
        content: 'Discord';
        color:#6e8ad2;
    }

    a[title^=rollreddit]{
        &::before {
            content: 'Reddit';
            color: $color-upvote;
        }
        &::after {
            content: attr(href);
            display: block;
            font-size: 0.8em;
            font-weight: normal;
        }
    }
}