$DEVELOPMENT: $ENV == "development";

@function conditional-url($key) {
    @return if($DEVELOPMENT, url(/images/#{$key}.png?2), url(%%#{$key}%%));
}

@if ($DEVELOPMENT) {
    $url-logotransparent: url(/images/logo_010.png);
    $url-logosolid: url(/images/logo.png);

    $url-btndiscord: url(/images/btn-discord.png);

    $url-assets: url(https://b.thumbs.redditmedia.com/5_zGRCZTF6dAblNoyEERQvBoWrzMd9pl0mXvwA8gVGg.png);
    // $hambaga: "//c.thumbs.redditmedia.com/bn09SsTK9ryFj4Nh.png";
    $url-assetsdrrp: url(/images/assets_drrp.png);
    $url-announcementbg: url(/images/hud.png);
}

$url-flairs: conditional-url('flairs');

$url-iconsoffsite: conditional-url('icons-offsite');
$url-browsers: conditional-url('browsers');
$url-pixelpattern: conditional-url('pixelpattern');

$url-linkdndespair:   conditional-url('thumb-dnd');
$url-linkdailylife:   conditional-url('thumb-dailylife');
$url-linkinsertcoin:  conditional-url('thumb-interest');
$url-linkmonoescape:  conditional-url('thumb-monoescape');
$url-linkmonologue:   conditional-url('thumb-monologue');
$url-linkroyale:      conditional-url('thumb-royale');
$url-linksidetrial:   conditional-url('thumb-sidetrial');
$url-linksurvivor:    conditional-url('thumb-survivor');
$url-linktrial:       conditional-url('thumb-trial');
$url-linktrialawards: conditional-url('thumb-awards');
$url-linkwhodunnit:   conditional-url('thumb-whodunnit');
$url-linkwriting:     conditional-url('thumb-writing');

