#header-img-a {
    position: absolute;
    top: 25px;
    left: 0;
    max-height: $header-height - (15px * 2);

    &::before {
        content: attr(title);

        position: absolute;
        top: 0;
        left: 90%;

        display: block;
        padding: 0.5em;
        white-space: nowrap;

        color: #fff;
        background: #111;
        border-radius: 2px;
    }
}

#header-img {
    display: block;
    margin: 15px 10px 0;

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: $header-height - 16px;

    &.default-header {
        display: none;
    }
}

#header-bottom-left {
    height: $header-height;

    .pagename {
        overflow: hidden;
        display: block;
        margin: 0 15px;

        position: absolute;
        left: 0;
        bottom: 0;

        line-height: 35px;
        font-size: 20px;
        text-transform: uppercase;
        white-space: nowrap;

        color: #fff;
    }

    .tabmenu {
        position: absolute;
        bottom: 0;

        margin: 0 0 0 300px;
        height: 35px;

        li {
            display: inline-block;
            vertical-align: top;
            margin: 0;

            a {
                display: block;
                padding: 0 10px;

                font-size: 12px;
                line-height: 35px;
                font-weight: normal;
                text-transform: uppercase;

                color: #fff;
                background: transparent;

                &:hover {
                    background: mix($color-headerbar, #fff, 80%);
                }
            }

            &.selected a {
                border: none;
                color: #292929;
                background: #fff;
            }
        }

        [href*="/controversial"],
        [href*="/gilded"],
        [href*="/ads"] {
            display: none;
        }

        [href*="/wiki"] {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}

.res-tabmenu-button.res-toggle-filterline-visibility a::before {
    /* RES */
    display: block;
}