#header {
	border: none;
	margin-bottom: $header-bottomspace;
}

.content > .menuarea {
	height: 35px;
	padding: 0 10px;
	margin: 0 0 10px;

	font-size: 10px;
	line-height: 35px;
	text-transform: uppercase;

	color: #555;
	background: #eaeaea;
	border: none;

	.dropdown {
		cursor: pointer;
	}

	.dropdown.lightdrop .selected {
		text-decoration: none;
		color: #333;
	}

	.drop-choices {
		border: none;
		margin-top: 5px;
		padding: 5px;

		a {
			color: gray;

			&:hover {
				background: #eee;
				color: #333;
			}
		}
	}
}
