body > .content {
    margin: 0;

    > .spacer {
        margin: 0;
    }

    #noresults {
        margin: 0;
        padding: 30px 0;

        font-size: 32px;
        text-align: center;

        color: mix($color-background, #000, 85%);
    }

    .md {
        a,
        a:visited {
            color: $color-highlight;
        }

        h1 {
            margin-left: -14px;
            padding-top: 10px;
            padding-left: 14px;

            border-top: 1px solid $color-border;
        }

        h1:first-child {
            padding-top: 0;
            border: 0 none;
        }

        hr {
            margin-left: -14px;
            height: 1px;

            background: $color-border;
        }

        li > p {
            margin: 0;
        }

        sup > sup > a {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            height: 1em;
            line-height: 1em;
            max-width: 70px;

            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.reddit-infobar.with-icon {
    &,
    &.archived-infobar {
        border-left: 0 none;

        &::before {
            background-color: $color-highlight;
            border-right: 1px solid #ccc;
        }
    }
}