.wiki-page {
    .flair {
        display: none;
    }

    #header-bottom-left {
        li:not(.selected) {
            display: none;
        }
    }

    > .content > span:first-child {
        display: block;
        margin: 0 $sidebar-margin 0 0;
        padding: 10px 14px;

        text-align: center;

        background: mix($color-highlight, #fff, 10%);
        border-top: 1px solid $color-border;
        border-right: 1px solid $color-border;

        @media (min-width: 980px) {
            position: absolute;
            top: $header-height + 30px;
            left: 500px;
            z-index: 6000;

            padding: 0;
            white-space: nowrap;

            color: #fff;
            background: transparent;
            border: 0 none;
        }
    }

    .wikititle {
        margin: 0;
        text-transform: uppercase;
        color: #fff;

        @media (max-width: 980px) {
            display: block;
            color: #000;
        }
    }

    .pageactions,
    .pageactions .wikiaction {
        border-radius: 0;
    }

    .pageactions {
        @media (max-width: 980px) {
            display: inline-block;
            margin: 10px 0 0;
        }
    }

    .wiki-page-content {
        margin: 0 $sidebar-margin 0 36px;
        padding: 10px 14px;

        background: #fff;
        border: 1px solid $color-border;
        box-shadow: -37px 0 0 -1px #eee, -36px 0 0 0 $color-border;

        .sitetable {
            margin: 0;
        }
    }

    .wiki-page-content .wiki > .toc {
        margin: 0;

        > ul {
            margin-right: -15px;
            padding: 10px 14px;
            background: mix($color-highlight, #fff, 10%);
            border-color: $color-border;

            @media (max-width: 980px) {
                margin: 0 0 15px;
                float: none;
            }
        }
    }

    .toc > ul {
        &::before {
            content: 'TABLE OF CONTENTS';
            display: block;
            margin-bottom: 1em;

            text-align: center;
            font-weight: bold;
            letter-spacing: 2px;
        }

        li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .md.wiki {
        h1 {
            margin: 0 0 1em;
            padding: 0;
            border: 0 none;
        }
    }

    .source {
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .source ~ hr {
        display: none;
    }

    .source ~ em {
        display: block;
        margin: 0 -14px -10px;
        padding: 10px 14px;

        background: mix($color-highlight, #fff, 10%);
        border-top: 1px solid $color-border;
    }
}
