// DEFAULT COLORS
$color-upvote: #FF8b60;
$color-downvote: #9494FF;
$color-pinkblood: #de007b;

$color-bluegray: #607D8B;
$color-bluegray-800: #37474F;

// DEFAULTS
$color-border: rgba(#000, .3);

// BACKGROUNDS
$color-body-bg: mix(#CFD8DC, #E1F5FE);
$color-header-bg: $color-pinkblood;
$color-sidebar-bg: #ECEFF1;
$color-thing-bg: lighten(#ECEFF1, 10%);

// HEADER
$color-header-mainbar: rgba($color-header-bg, .2);

// SIDEBAR
$color-sidebar-border: $color-border;
$color-sidebar-highlight: $color-pinkblood;
$color-sidebar-expando: mix($color-bluegray, #fff, 80%);

// LINKLISTING
$color-linksticky: #2E6E02;
$color-linkpromoted: #c90;

// COMMENTS
$color-content-base: #036;

// CONTRASTS
$color-body-bg-contrast: color-contrast($color-body-bg);
$color-header-bg-contrast: color-contrast($color-header-bg);
$color-thing-bg-contrast: color-contrast($color-thing-bg);
