// DEFAULT COLORS
$color-upvote: #ff8b60;
$color-downvote: #9494ff;
$color-pinkblood: mix(#09c, #666, 50%);

$color-bluegray: #607d8b;
$color-bluegray-800: #37474f;

// DEFAULTS
$color-border: rgba(#000, 0.3);

// BACKGROUNDS
$color-body-bg: mix(#cfd8dc, #e1f5fe);
$color-header-bg: #2e3338;
$color-sidebar-bg: #eceff1;
$color-thing-bg: lighten(#eceff1, 10%);

// HEADER
$color-header-mainbar: rgba($color-header-bg, 0.2);

// SIDEBAR
$color-sidebar-border: $color-border;
$color-sidebar-highlight: mix($color-pinkblood, #000, 80%);
$color-sidebar-expando: mix($color-bluegray, #fff, 80%);

// LINKLISTING
$color-linksticky: mix($color-pinkblood, #000, 80%);
$color-linkpromoted: #c90;

// COMMENTS
$color-content-base: #069;

// CONTRASTS
$color-body-bg-contrast: color-contrast($color-body-bg);
$color-header-bg-contrast: color-contrast($color-header-bg);
$color-thing-bg-contrast: color-contrast($color-thing-bg);
