// HEADER
$header-height: 170px;
$header-bottomspace: 13px;

// SIDEBAR

// Used everywhere related to the space for the sidebar
$sidebar-margin: 314px;
$sidebar-cellpadding: 7px;

// Set to 0px if not using announcements
$announcements-space: 147px;

$link-paddingside: 14px;

// COMMENTS
$comment-taglineheight: 24px;
$comment-paddingleft: 32px;


$NIGHT: '[lang="nm"]';