$url-logotransparent: url(%%dr-logo010%%) !default;
$url-logosolid: url(%%logo%%) !default;

$url-flairs: url(%%flairs%%) !default;
$url-btndiscord: url(%%btn-discord%%) !default;

$url-assets: url(%%spritesheet%%) !default;
$url-assetsdrrp: url(%%assetsdrrp%%) !default;
$url-announcementbg: url(%%announcements%%) !default;

