$url-logotransparent: url(%%logo-transparent%%) !default;
$url-logosolid: url(%%logo%%) !default;

$url-btndiscord: url(%%btn-discord%%) !default;

$url-assets: url(%%spritesheet%%) !default;
$url-assetsdrrp: url(%%assets-drrp%%) !default;
$url-announcementbg: url(%%announcements%%) !default;

