.fancy-toggle-button {
    .add,
    .remove {
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;

        border: 1px solid $color-border;
        border-radius: 0;
    }

    .add {
        background: #090;
    }

    .remove {
        background: #900;
    }

    .option.active {
        display: block;
    }
}
