body {
    font-family: $font-arial;
    background: $color-background;
}

::-moz-selection {
    background-color: #0079d3;
    text-shadow: none;
    color: #fff
}

::selection {
    background-color: #0079d3;
    text-shadow: none;
    color: #fff
}

:focus {
    outline: 0!important
}

a,
a:visited,
a:target {
    color: inherit;
}

.rounded {
    border-radius: 0;
}
