.commentarea {
    .sitetable {
        // padding-right: 1px;
    }
}

.panestack-title {
    padding: 0.5em 1em;
    margin: 15px 0;

    border: 0 none;
    border-top: 1px solid #ccc;

    .title {
        font-size: 20px;
    }
}
// $color-border: transparent;
.thing.comment {
    position: relative;

    margin: 0 0 10px;
    padding: ($comment-taglineheight - 1px) 0 0 $comment-paddingleft;

    background: transparent;

    .listing-page & {
        padding-top: 0;
    }

    &.collapsed {
        margin-bottom: 15px;

        .midcol {
            display: none;
        }

        .flair {
            display: inline-block;
        }

        .listing-page & .entry {
            background: transparent;
            border-color: transparent transparent #ccc;
        }

        .comments-page & .entry {
            border-top: 0 none;
        }
    }

    &.new-comment {
        > .entry,
        > .entry .author,
        > .entry .userattrs,
        > .entry .RESUserTag {
            background: mix(#fff, #069, 80%);
        }
    }

    &:hover {
        &,
        & .author {
            margin-left: -2px;
        }

        > .entry,
        > .entry .author,
        > .child {
            border-left-width: 3px;
        }
    }

    .parent {
        .listing-page & {
            height: 25px;
            line-height: 25px;
            color: $color-highlight;
        }
    }

    .child {
        margin-top: 0;
        margin-left: 0;
        padding-top: 10px;

        border: 0 solid $color-border;
        border-width: 0 1px;
        background: rgba(#fff, 0.15);

        &:empty {
            margin-top: 10px;
            padding-top: 0;
        }

        > .usertext {
            padding: 0 $sidebar-margin 25px $comment-paddingleft;
        }
    }

    .midcol {
        position: absolute;
        left: 0;

        margin: 8px 0 0;
        width: $comment-paddingleft;

        // For /r/subreddit/comments
        .listing-page & {
            margin-top: 36px;
        }

        .arrow {
            $width: 8px;
            $height: 12px;

            margin-bottom: $height * 0.5;
            width: 0;
            height: 0;
            background: transparent;
            border: $width solid transparent;
            border-top: 0 none;

            &.up {
                border-bottom: $height solid mix($color-background, #000, 50%);
            }

            &.upmod {
                border-bottom: $height solid $color-upvote;
            }

            &.down {
                border-top: $height solid mix($color-background, #000, 50%);
            }

            &.downmod {
                border-top: $height solid $color-downvote;
            }
        }
    }

    > .entry {
        overflow: visible;

        background: #fff;
        border: 1px solid $color-border;
    }

    .tagline {
        position: absolute;
        top: 0;
        left: $comment-paddingleft;

        display: block;

        height: $comment-taglineheight;
        line-height: $comment-taglineheight;
        font-size: 13px;

        color: #000;

        .listing-page & {
            position: relative;
            top: auto;
            left: auto;

            margin: -1px;
        }

        .author,
        .userattrs,
        .RESUserTag {
            float: left;
            display: block;
            margin: 0 -1px 0 0;
            padding: 0 8px !important;

            line-height: $comment-taglineheight - 2px;

            color: $color-highlight;
            background: #fff;
            border: 1px solid $color-border;
            border-radius: 0 !important;
        }
    }

    .expand {
        position: absolute;
        left: ($comment-taglineheight + $comment-paddingleft) / -2;

        display: block;
        margin: 0;
        padding: 0;

        width: $comment-taglineheight;
        height: $comment-taglineheight;

        color: transparent !important;
        border: 0 none;
        border-radius: 50%;

        &:hover {
            $light: mix(#fff, #069, 50%);
            text-decoration: none;

            background-color: $light;
            box-shadow: 0 0 1px $light, 0 0 2px $light, 0 0 3px $light;
        }
    }

    .flair {
        position: absolute;
        bottom: 0;
        right: 100%;
        left: -1 * $comment-paddingleft;
        z-index: 10;
        margin: 0 auto;
        pointer-events: none;
    }

    .author::before {
        content: 'u/';
    }

    .userattrs {
        padding: 0 4px !important;

        &:empty {
            display: none;
        }
    }

    .score,
    time {
        margin-left: 10px;
        font-weight: 400;
    }

    time {
        font-weight: 700;
    }

    .entry > form > .usertext-body {
        margin: 0;
        padding: 8px 14px 4px;
    }
}

.thing.morechildren {
    .morecomments {
        display: block;
        padding-left: $comment-paddingleft;

        .button {
            display: inline-block;
            margin: 0;
            padding: 6px 10px;

            font-size: 11px !important;

            background: #eee;
            border: 1px solid #ccc;

            &:hover {
                background: #fff;
                text-decoration: none;
            }
        }
    }
}

.thing.morerecursion {
    display: block;
    padding: 0 0 10px $comment-paddingleft;

    .deepthread {
        display: block;

        &::after {
            content: unset;
        }
    }

    .deepthread a {
        position: relative;
        display: inline-block;
        padding: 0 10px;

        line-height: $comment-taglineheight;
        font-size: 13px !important;
        text-transform: uppercase;

        background: #eee;
        border: 1px solid #BEBEBE;
        border-right: 0 none;

        &::before,
        &::after {
            content: '';

            position: absolute;
            left: 100%;

            width: 0;
            height: 0;

            border-style: solid;
        }

        &::before {
            top: -1px;
            border-width: 15px 0 15px 18px;
            border-color: transparent #BEBEBE;
        }

        &::after {
            top: 0;
            border-width: 14px 0 14px 17px;
            border-color: transparent #eee;
        }

        &:hover {
            text-decoration: none;
            background: #fff;

            &::after {
                border-color: transparent #fff;
            }
        }
    }

    .tagline,
    .child {
        display: none;
    }
}
