body > .content {
    margin: 8px 0 0;

    > .spacer {
        margin: 0;
    }

    .text,
    input[type=password],
    input[type=text],
    input[type=url],
    textarea {
        background-color: #fff;
        border: 1px solid #c3cfd6;
        color: #738491;
        box-shadow: none;
        transition: border-color .15s ease,color .15s ease;
        padding: 6px 12px;

        &:hover {
            border-color: #738491;
        }

        &:focus {
            border-color: #24a0ed;
            color: #292f34
        }
    }

    #noresults {
        font-size: 32px;
        text-align: center;

        color: mix($color-background, #000, 85%);
    }

    .usertext-body,
    .usertext-body .md {
        border: 0;
        background: transparent;
    }

    .usertext-body {
        padding: 0;
    }

    .md {
        position: relative;
        z-index: 1;

        a,
        a:visited {
            color: $color-highlight;
        }

        h1 {
            margin-left: -14px;
            padding-top: 10px;
            padding-left: 14px;

            border-top: 1px solid $color-border;
        }

        hr {
            margin-left: -14px;
            height: 1px;

            background: $color-border;
        }

        li > p {
            margin: 0;
        }

        sup > sup > a {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            height: 1em;
            line-height: 1em;
            max-width: 70px;

            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
