.usertext {
    .usertext-edit {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;

        width: auto !important;

        .md {
            flex: 1 1 auto;

            margin: 0;
            min-width: 300px;

            textarea {
                margin: 0;
                height: 100% !important;
                width: 100% !important;

                min-height: 260px;

                border: 1px solid $color-border;
            }
        }

        .bottom-area {
            flex: 0 0 auto;

            display: flex;
            flex-direction: column;
            width: 140px;
            padding: 0 6px;
        }

        .markhelp {
            flex: 0 1 auto;
            margin: 0 0 0 20px;
            padding: 0 10px;
            width: 40%;

            border-top: 0 none;
            border-left: 1px dotted #c0c0c0;
        }
    }

    .bottom-area {
        .usertext-buttons {
            order: -1;
            flex: 1 0 auto;
        }

        .help-toggle {
            order: 9;
        }

        .reddiquette {
            order: 10;
        }
    }

    .usertext-buttons button,
    .usertext-buttons .status {
        display: block;
        margin: 0 0 6px;
        width: 100%;
    }

    .help-toggle,
    a.reddiquette {
        margin-left: 0;
        text-transform: uppercase;
    }
}
