.thing {
    .title,
    .title:visited {
        color: inherit;
    }

    .entry {
        margin: 0;

        /* PATCH FOR RES */
        /* Hides the expandos and annotations inside comments */
        .keyNavAnnotation,
        .commentImg {
            display: none !important;
        }
    }

    .flat-list {
        padding: 0 10px;

        white-space: nowrap;

        color: mix(#000, #fff, 50%);

        .listing-page & {
            text-overflow: clip;
            overflow: hidden;
        }

        li {
            a {
                display: block;

                line-height: 30px;
                font-size: 11px;

                color: inherit;

                &:hover {
                    color: #242424;
                }
            }
        }

        > .first {
            margin-right: 1em;
            color: #000;
        }

        ~ div {
            margin-top: 10px;
        }
    }

    .stamp {
        border: 0 !important;
    }

    .nsfw-stamp acronym {
        background: #fff;
        border-radius: 0;
        border: 1px solid #e74c3c;
        color: #c0392b;
        padding: 0 4px;
    }

    .give-gold {
        color: #988143 !important;
    }
}
