.side .md {

    hr {
        display: none;
    }

    hr + h2 {}

    ol {
        padding-left: 0;

        list-style: none;

        li {
            position: relative;
            padding: 10px 0 10px 26px;
            min-height: 23px;

            border-top: 2px dotted $color-bluegray;

            counter-increment: item;

            &::before {
                content: counter(item);

                position: absolute;
                top: 10px;
                left: 0;

                line-height: 26px;
                font-size: 26px;
                font-family: $font-verdana;
                font-weight: bold;

                color: $color-background;
                @include text-stroke(#000);
            }
        }

        p {
            margin: 0;
        }
    }

    a[href$="#discord"] {
        overflow: hidden;
        display: block;
        height: 80px;

        white-space: nowrap;
        text-indent: 300px;

        background: $url-btndiscord center/300px no-repeat;

        transform: scale(0.9);
        transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        &:hover {
            transform:scale(1);
        }
    }
}
