// HEADER
$header-height: 150px;

// SIDEBAR

// Used everywhere related to the space for the sidebar
$sidebar-margin: 316px;

// Set to 0px if not using announcements
$announcements-space: 170px;

// COMMENTS
$comment-taglineheight: 24px;
$comment-paddingleft: 32px;


$NIGHT: '[lang="nm"]';