$color-upvote: #FF8b60;
$color-downvote: #9494FF;
$color-pinkblood: #de007b;

$color-bluegray: #607D8B;

$color-background: mix($color-bluegray, #fff, 30%);
$color-searchinput: #ECEFF1;
$color-searchexpando: #B0BEC5;

$color-sideborders: mix(#000, $color-searchexpando, 10%);

$color-highlight: #224B7D;
