$url-papertexture: url(%%dr-logo010%%) !default;
$url-logotransparent: url(%%dr-logo010%%) !default;
$url-logosolid: url(%%logo%%) !default;

$url-flairs: url(%%flairs%%) !default;
$url-btndiscord: url(%%btn-discord%%) !default;

$url-assets: url(%%spritesheet%%) !default;
$url-arrows: url(%%arrows%%) !default;

$url-thawards:     url(%%thumb-awards%%) !default;
$url-thdndespair:  url(%%thumb-dnd%%) !default;
$url-thinsertcoin: url(%%thumb-interest%%) !default;
$url-thmonoescape: url(%%thumb-monoescape%%) !default;
$url-thmonologue:  url(%%thumb-monologue%%) !default;
$url-thsidetrial:  url(%%thumb-sidetrial%%) !default;
$url-thsurvivor:   url(%%thumb-survivor%%) !default;
$url-thtrial:      url(%%thumb-trial%%) !default;
$url-thwhodunnit:  url(%%thumb-whodunnit%%) !default;
$url-thwriting:    url(%%thumb-writing%%) !default;
