$color-upvote: #FF8b60;
$color-downvote: #9494FF;
$color-pinkblood: #de007b;

$color-bluegray: #607D8B;

$color-background: mix($color-bluegray, #fff, 20%);
$color-border: rgba(#000, 0.3);

$color-headerbg: #187ebc;
$color-headerbar: #ff2547;

$color-bgthing: mix($color-bluegray, #fff, 0%);
$color-searchinput: #ECEFF1;
$color-searchexpando: mix($color-bluegray, #fff, 80%);

$color-sideborders: $color-border;

$color-highlight: #224B7D;
