.side {
    $side-over: (-1 * ($sidebar-cellpadding + 1px));

    .login-form {
        color: color-contrast($color-sidebar-highlight);
        background: $color-sidebar-highlight;
        border: 1px solid $color-border;
    }

    .usertext-body {
        margin: $sidebar-cellpadding 0 0;
        padding: 0;
    }

    .md h2,
    .sidecontentbox .title {
        margin: 0;
        padding: 0 $sidebar-cellpadding;

        height: 9px;

        background: $color-body-bg;
        border: 0 solid $color-border;
        border-width: 0 0 1px;
    }

    .md h2,
    .sidecontentbox h1 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        white-space: nowrap;

        color: $color-sidebar-highlight;

        a {
            color: inherit;
        }
    }

    .md {
        padding: 0 $sidebar-cellpadding;
        background: $url-pixelpattern;
        border: 1px solid $color-border;

        h2 {
            margin: $sidebar-cellpadding $side-over 10px;
            padding-top: 14px;

            border-width: 1px 0;
        }

        > ol {
            margin: 0;
            padding: 0;

            list-style: none;

            li {
                position: relative;
                padding: 10px 0 10px 26px;
                min-height: 23px;

                border-top: 2px dotted $color-body-bg-contrast;

                counter-increment: item;

                &:first-child {
                    border: 0 none;
                }

                &::before {
                    content: counter(item);

                    position: absolute;
                    top: 10px;
                    left: 0;

                    line-height: 26px;
                    font-size: 26px;
                    font-family: $font-verdana;
                    font-weight: bold;

                    color: $color-body-bg;
                    @include text-stroke($color-body-bg-contrast);
                }
            }

            p {
                margin: 0;
            }

            a {
                color: mix($color-sidebar-highlight, $color-body-bg-contrast, 75%);
                text-decoration: underline;
            }
        }

        hr {
            margin: $sidebar-cellpadding $side-over 0;
            height: $sidebar-cellpadding;

            background: $color-body-bg;
            border: 0 solid $color-border;
            border-width: 1px 0;
        }
    }

    .sidecontentbox {
        overflow: hidden;

        &.collapsible {
            margin-bottom: 20px;
        }

        .content {
            padding: 8px $sidebar-cellpadding 4px;

            border: 1px solid $color-border;
            border-top: 0 none;
            background: $url-pixelpattern;
        }

        .collapse-button {
            float: right;
            margin: 0;
            width: 16px;
            height: 16px;
            line-height: 16px;
        }

        .helplink ~ ul {
            text-align: center;

            li {
                display: inline-block;
                padding: 4px;
                width: 50%;
                box-sizing: border-box;

	            text-align: left;

                .flair {
                    margin-left: 15%;
                }

                .author {
                    display: block;
                    margin: 0;
                    padding: 1px 3px;

                    font-size: 12px;
                    font-family: $font-segoe;

                    color: #fff;
                    background: mix($color-sidebar-highlight, $color-body-bg-contrast);
                    border-radius: 2px;
                }
            }

            .more {
                display: block;
                width: auto;
            }
        }
    }

    .titlebox .bottom {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 0 $sidebar-cellpadding;
        height: 22px;

        line-height: 22px;
        letter-spacing: -0.3px;

        background: #fff;
        border: 1px solid $color-border;

        .flair {
            display: none;
        }
    }
}
