.side {
    $padding-top: 0;

    width: 300px;
    margin: 0;
    padding: $padding-top $sidebar-cellpadding $sidebar-cellpadding;

    color: mix(#000, $color-sideborders, 20%);
    background: $color-background;

    .spacer {
        margin: 0 0 $sidebar-cellpadding;
    }

    .login-form,
    .md h2,
    .sidecontentbox .title {
        color: color-contrast($color-headerbg);
        background: $color-headerbg;
        border-color: $color-border;
    }

    .sidecontentbox {
        .title {
            overflow: hidden;
            padding: 5px 8px;

            text-align: right;
        }

        .content {
            padding: 4px 8px;

            border: 1px solid $color-border;
            border-top: 0 none;
            background: #fff;
        }

        h1 {
            float: right;
            line-height: 16px;
            font-size: 16px;
            color: inherit;
        }

        .collapse-button {
            margin: 0;
            width: 14px;
            height: 14px;
            line-height: 14px;
        }

        .helplink ~ ul {
            padding: 2px;
            text-align: center;

            li {
                display: inline-block;
                padding: 4px;
                width: 50%;
                box-sizing: border-box;

	            text-align: left;

                .flair {
                    margin-left: 15%;
                }

                .author {
                    display: block;
                    margin: 0;
                    padding: 1px 3px;

                    font-size: 12px;
                    font-family: $font-segoe;

                    color: #fff;
                    background: $color-highlight;
                    border-radius: 2px;
                }
            }

            .more {
                display: block;
                width: auto;
            }
        }
    }

    .titlebox .bottom {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 0 10px;
        height: 22px;

        line-height: 22px;
        letter-spacing: -0.2px;

        background: #fff;
        border: 1px solid $color-border;

        .flair {
            display: none;
        }
    }
}
