.side {
    $padding-top: 0;

    width: 300px;
    margin: 0;
    padding: $padding-top $sidebar-cellpadding $sidebar-cellpadding;

    color: mix(#000, $color-sideborders, 20%);
    background: $color-background;

    .spacer {
        margin: 0 0 $sidebar-cellpadding;
    }
}
